### Q1. Pandas version
What's the version of Pandas that you installed?

In [2]:
import pandas as pd
pd.__version__

'2.3.1'

### Q2. Records count
How many records are in the dataset?

In [39]:
df = pd.read_csv("car_fuel_efficiency.csv")
print(df.shape)
print(len(df))

(9704, 11)
9704

### Q3. Fuel types
How many fuel types are presented in the dataset?

In [7]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [14]:
df["fuel_type"].nunique()

2

### Q4. Missing values
How many columns in the dataset have missing values?

In [15]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [18]:
asia_cars = df[df["origin"] == "Asia"]

In [19]:
asia_cars.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [20]:
asia_cars["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

### Q6. Median value of horsepower
- Find the median value of `horsepower` column in the dataset.
- Next, calculate the most frequent value of the same `horsepower` column.
- Use fillna method to fill the missing values in `horsepower` column with the most frequent value from the previous step.
- Now, calculate the median value of `horsepower` once again.

Has it changed?

In [51]:
median_before = df["horsepower"].median()
print(median_before)

149.0

In [41]:
mode_val = df["horsepower"].mode()[0]
print(mode_val)

152.0

In [42]:
df["horsepower_filled"] = df["horsepower"].fillna(mode_val)
df["horsepower_filled"].isnull().sum()

np.int64(0)

In [52]:
median_after = df["horsepower_filled"].median()
print(median_after)

152.0

In [53]:
print(f"Has the median changed? {'Yes' if median_before != median_after else 'No'}")

Has the median changed? Yes

### Q7. Sum of weights
- Select all the cars from Asia.
- Select only columns `vehicle_weight` and `model_year`.
- Select the first 7 values.
- Get the underlying NumPy array. Let's call it `X`.
- Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
- Invert `XTX`.
- Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100, 1200]`.
- Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
- What's the sum of all the elements of the result?

In [73]:
import numpy as np

In [74]:
asia_cars.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [75]:
X_df = asia_cars[["vehicle_weight", "model_year"]].iloc[:7]
print(X_df)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [76]:
X = X_df.to_numpy()
print(X)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [79]:
XTX = X.T @ X
print(XTX)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [80]:
XTX_inv = np.linalg.inv(XTX)
print(XTX_inv)

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [81]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [83]:
w = XTX_inv @ X.T @ y
print(w)

[0.01386421 0.5049067 ]

In [84]:
result_sum = np.sum(w)
print(result_sum)

0.5187709081074016